</body>

<div class="container footer">

    <div class="social border-top">
        <a href="https://www.facebook.com/sensezapartments"><i class="fa-brands fa-facebook font"></i></a>
        <a href="https://www.instagram.com/sensez_apartments/"><i class="fa-brands fa-instagram font"></i></a>
        <a href="mailto: sensez.apartments@gmail.com"><i class="fa-solid fa-envelope font"></i></a>
        <a href="/contact"><i class="fa-solid fa-phone font"></i></a>
    </div>
    <footer class="d-flex flex-wrap justify-content-center align-items-center my-4">
        <p class="col-sm-12 mb-0 text-muted">© 2023 Sensez Apartments</p>

        <ul class="col-sm-12 nav justify-content-center">
            <li class="nav-item"><a href="/" class="nav-link px-2 text-muted">Home</a></li>
            <li class="nav-item"><a href="/about" class="nav-link px-2 text-muted">About</a></li>
            <li class="nav-item"><a href="/apts" class="nav-link px-2 text-muted">Gallery</a></li>
            <li class="nav-item"><a href="/contact" class="nav-link px-2 text-muted">Contact</a></li>
        </ul>
    </footer>
</div>

</html>