<%- include("partials/header") %>

    <div class="container about-us-main">
        <div class="row">
            <div class="col-lg-6">
                <h1 class="text-center">
                    A few words<br>about us
                </h1>
                <img src="pics/luxapt1.jpg" class="d-block w-100" alt="bg-image">
                <p>Sensez Apartments offer a luxurious and modern living experience in the heart of Lefkada. These brand
                    new apartments are located in the center of the city, providing easy access to shops, restaurants,
                    supermarkets, and all the conveniences of urban living. The apartments themselves are designed with
                    style and quality in mind, featuring sleek, modern furnishings and decor throughout. Each apartment
                    is fully equipped with all the amenities you need for a comfortable stay, including a well-appointed
                    kitchen with all the necessary appliances and cookware, as well as a cozy living area with a
                    flat-screen TV and comfortable seating. The apartments also feature air conditioning and high-speed
                    WiFi, ensuring that you stay cool and connected during your stay.</p>
            </div>
            <div class="col-lg-6">
                <p>Lefkada is a stunning island located in the Ionian Sea, known for its turquoise waters, breathtaking
                    landscapes, and rich cultural heritage. The island boasts some of the most beautiful beaches in
                    Greece, including Porto Katsiki, Egremni, and Kathisma, which are characterized by crystal-clear
                    waters and dramatic cliffs.

                    Apart from its natural beauty, Lefkada is also steeped in tradition and history, with ancient ruins,
                    Byzantine churches, and charming villages dotted throughout the island. Visitors can experience the
                    local culture through traditional music and dance performances, regional cuisine, and vibrant
                    festivals.
                    Follow us on social media (instagram<a href="https://www.instagram.com/sensez_apartments/"><i
                            class="fa-brands fa-instagram font"></i></a>,
                    facebook<a href="https://www.facebook.com/sensezapartments"><i
                            class="fa-brands fa-facebook font"></i></a>) from
                    where you can be informed about our news, about
                    events that are organized all year round, excursions and many competitions!</p>

                <img src="pics/luxapt2.jpg" class="d-block w-100" alt="bg-image">
                <p>Thank you very much for choosing us for your stay. The "Sensez Apartments" is a family
                    business, embodies for us what the Greek word hospitality.</p>

            </div>
            <div class="text-center book-button"><a href="/contact"><button type="button" class="btn btn-dark">BOOK
                        NOW</button></a></div>
        </div>
    </div>


    <%- include("partials/footer") %>