<%- include("partials/header") %>

    <div class="container about-us-main">
        <div class="row">
            <div class="col-lg-6">
                <h1 class="text-center">
                    A few words<br>about us
                </h1>
                <img src="pics/luxapt1.jpg" class="d-block w-100" alt="bg-image">
                <p>Our rooms are designed with quality standards and high aesthetics. We love our place, Lefkada, and
                    we respect the environment and our visitors. For this and we recycle packaging from glass, plastic,
                    paper, we use natural products, from ecological and hypoallergenic zeolite detergents.
                    We reduce the useless energy and water consumption. We will be happy for you to contribute to the
                    effort this, discarding in the special bins what is recycled, turning off the lights when leave the
                    room and consuming the necessary amount of water.</p>
            </div>
            <div class="col-lg-6">
                <p>Lefkada is a unique destination, with traditional customs and warm people. But what will make your
                    experience truly unforgettable is the hospitable family environment. Experience the magic of the
                    area, enjoy its sounds and smells and create beautiful memories. Do not hesitate to ask us or ask
                    for information about places you can visit during your stay. We wish you an unforgettable stay!
                    Follow us on social media (instagram<a href="#"><i class="fa-brands fa-instagram font"></i></a>,
                    facebook<a href="https://www.facebook.com"><i class="fa-brands fa-facebook font"></i></a>) from
                    where you can be informed about our news, about
                    events that are organized all year round, excursions and many competitions!</p>

                <img src="pics/luxapt2.jpg" class="d-block w-100" alt="bg-image">
                <p>Thank you very much for choosing us for your stay. The "Popina Luxury Apartments" is a family
                    business, embodies for us what the Greek word hospitality.</p>

            </div>
            <div class="text-center book-button"><button type="button" class="btn btn-dark">BOOK NOW</button></div>
        </div>
    </div>


    <%- include("partials/footer") %>