<%- include("partials/header") %>

    <div class="bg-image">
        <div class="about-text">
            <h1>
                Η τριάδα των φτωχών.
            </h1>
            <p>
                Η επιχείρηση Popina Apts ξεκίνησε το 2022 στην προσπάθεια τριών φίλων να ξεφύγουν από τη καταραμένη
                φτώχεια
                που
                τους δέρνει και να μειώσουν τα μεροκαματάκια που κάνουν ως security στο Ελληνικό.
            </p>
        </div>
    </div>

    <%- include("partials/footer") %>