<%- include("partials/header") %>

    <div class="gallery-div">

        <h1 class="gallery-titles">Mediterranean Apt</h1>
        <p class="gallery-subtitles"><i class="fa-solid fa-user"></i> x 4
            <span class="services">45 m<sup>2</sup></span>
            <span class="services"><i class="fa-sharp fa-solid fa-chair"></i> Balcony</span>
            <span class="services"><i class="fa-solid fa-kitchen-set"></i> Kitchen</span>
            <span class="services"><i class="fa-solid fa-wifi"></i> Free Wifi</span><br>
            <span class="services"><i class="fa-regular fa-snowflake"></i> Air-Condition</span>
            <span class="services"><i class="fa-solid fa-tv"></i> Cable TV with Netflix</span><br><br>
            <span class="services">Also includes: Washer, Hairdryer, Iron and ironing board</span>
        </p>
        <p class="gallery-subtitles">Host: Kostas<br><i class="fa-solid fa-phone"></i> 6940818459 <i
                class="fa-solid fa-envelope email-margin"></i> kostas@popina.gr</p>
        <hr class="gallery-hr">

        <div class="row">
            <div class="col-lg-4 mb-4 mb-lg-0">
                <img src="pics/luxapt1.jpg" class="w-100 shadow-1-strong rounded mb-4" alt="Boat on Calm Water" />

                <img src="pics/luxapt2.jpg" class="w-100 shadow-1-strong rounded mb-4"
                    alt="Wintry Mountain Landscape" />
            </div>

            <div class="col-lg-4 mb-4 mb-lg-0">
                <img src="pics/luxapt3.jpg" class="w-100 shadow-1-strong rounded mb-4" alt="Mountains in the Clouds" />

                <img src="pics/luxapt1.jpg" class="w-100 shadow-1-strong rounded mb-4" alt="Boat on Calm Water" />
            </div>

            <div class="col-lg-4 mb-4 mb-lg-0">
                <img src="pics/luxapt2.jpg" class="w-100 shadow-1-strong rounded mb-4" alt="Waves at Sea" />

                <img src="pics/luxapt3.jpg" class="w-100 shadow-1-strong rounded mb-4" alt="Yosemite National Park" />
            </div>
        </div>

        <h1 class="gallery-titles">Salty Apt</h1>
        <p class="gallery-subtitles"><i class="fa-solid fa-user"></i> x 4 <span class="services">25 m<sup>2</sup></span>
            <span class="services"><i class="fa-sharp fa-solid fa-chair"></i> Mini Garden</span>
            <span class="services"><i class="fa-solid fa-kitchen-set"></i> Kitchen</span>
            <span class="services"><i class="fa-solid fa-wifi"></i> Free Wifi</span>
            <span class="services"><i class="fa-regular fa-snowflake"></i> Air-Condition</span>
        </p>
        <p class="gallery-subtitles">Host: Tolis<br><i class="fa-solid fa-phone"></i> 6980459322 <i
                class="fa-solid fa-envelope email-margin"></i> tolis@popina.gr</p>
        <hr class="gallery-hr">

        <div class="row">
            <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
                <img src="pics/luxapt1.jpg" class="w-100 shadow-1-strong rounded mb-4" alt="Boat on Calm Water" />

                <img src="pics/luxapt2.jpg" class="w-100 shadow-1-strong rounded mb-4"
                    alt="Wintry Mountain Landscape" />
            </div>

            <div class="col-lg-4 mb-4 mb-lg-0">
                <img src="pics/luxapt3.jpg" class="w-100 shadow-1-strong rounded mb-4" alt="Mountains in the Clouds" />

                <img src="pics/luxapt1.jpg" class="w-100 shadow-1-strong rounded mb-4" alt="Boat on Calm Water" />
            </div>

            <div class="col-lg-4 mb-4 mb-lg-0">
                <img src="pics/luxapt2.jpg" class="w-100 shadow-1-strong rounded mb-4" alt="Waves at Sea" />

                <img src="pics/luxapt3.jpg" class="w-100 shadow-1-strong rounded mb-4" alt="Yosemite National Park" />
            </div>

        </div>
    </div>


    <%- include("partials/footer") %>