<%- include("partials/header") %>

    <div id="contact-body">
        <!-- <div class="bg-image"> -->
        <div class="main-div-contact">

            <div class="row info-row">

                <div class="col-lg-6 col-md-12 info-txt">
                    <h1>BOOKING INFOS</h1>
                    <p class="p-info">Pricing can variate a little between high and low season. Our standard rates may
                        differ from platform to platform. Contact us for lowest price guaranatee.</p>
                    <div>
                        <hr>
                    </div>
                    <h3 class="our-address"><i class="fa-solid fa-location-dot"></i> OUR ADDRESS</h3>
                    <p class="p-info">I. Karavela, Lefkada 311 00</p>
                    <div>
                        <hr>
                    </div>
                    <div class="row info-hours-div">
                        <div class="col-sm-6">
                            <h3>CONTACT INFO</h3>
                            <p><a class="mailto" href="mailto: sensez.apartments@gmail.com"><i
                                        class="fa-solid fa-envelope contact-info"></i> sensez.apartments@gmail.com</a>
                            </p>
                            <p><i class="fa-solid fa-phone contact-info"></i>+30 6940800000<br><i
                                    class="fa-solid fa-phone contact-info"></i>26450-32054</p>

                        </div>
                        <div class="col-sm-6">
                            <h3>CONTACT HOURS</h3>
                            <p>Monday-Sunday 08:00 AM - 10:00 PM</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-12 info-img-div d-block">
                    <img src="pics/luxapt1sq.jpg" class="shadow-1-strong info-img" alt="Boat on Calm Water">
                </div>

            </div>
            <div class="row">
                <div class="col-lg-6 iframe-div2 d-flex align-items-center">
                    <div class="location-desc">
                        <h2>Check our location on google maps.</h2><br><br>

                        <p>
                            <span>Ample parking space available.</span><br><br>
                            <span>Only 8 minutes away from the center of Lefkada.</span><br><br>
                            <span>Easy access to shops, restaurants, supermarkets.</span><br><br>
                            <span>Near the main road that leads to some of the best beaches on the
                                island.</span><br><br>
                            <span>The main bus station which is offering daily routes to Aktion Airport and
                                popular destinations such as Preveza
                                and Parga, is located only 6 minutes from the Apartments.</span>
                        </p>
                    </div>

                </div>
                <div class="col-lg-6 iframe-div d-flex align-items-center"><iframe class="rounded w-100"
                        src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d194.27038965601298!2d20.708512793046417!3d38.8249888576467!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sus!4v1675020715042!5m2!1sen!2sus"
                        width="450" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>


            </div>

            <!-- <div class="main-contact-form">
                <form action="/contact" method="post" class="contact-form">

                    <div class="row inquiry-div">
                        <h1 class="text-center">Send us an Inquiry</h1>
                        <p class="text-center">If you’d like to visit us, fill the contact form below and one of our
                            representatives will
                            get to you asap with all the details needed.</p>
                        <div class="col-md-6 col-sm-12">
                            <div class="">
                                <label for="name" class="form-label">Your name</label>
                                <input type="text" name="fullname" class="form-control" id="name">
                            </div>

                            <div class="">
                                <label for="arrival" class="form-label">Arrival date</label>
                                <input type="text" name="arrival" class="form-control" id="arrival">
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="">
                                <label for="email" class="form-label">Your email</label>
                                <input type="email" name="email" class="form-control" id="email"
                                    placeholder="name@example.com">
                            </div>

                            <div class="">
                                <label for="phoneNumber" class="form-label">Phonenumber</label>
                                <input type="text" name="phonenumber" class="form-control" id="phoneNumber">
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="textArea" class="form-label">Message</label>
                            <textarea name="message" class="form-control textarea-container" id="textArea"
                                rows="3"></textarea>
                        </div>
                    </div>
                    <div class="text-center book-button"><button class="btn btn-dark send-button" type="submit"
                            name="submit">Send</button></div>
                </form>
            </div> -->

        </div>

    </div>
    <!-- </div> -->
    <%- include("partials/footer") %>