<%- include("partials/header") %>

    <div id="contact-body">
        <!-- <div class="bg-image"> -->
        <div class="main-div-contact">

            <div class="row info-row">

                <div class="col-lg-6 info-txt">
                    <h1>BOOKING INFOS</h1>
                    <p class="p-info">Pricing can variate a little between high and low season. Contact us for lowest
                        price guaranatee.<br><br>We are pleased
                        to
                        offer our guests a variety of payment methods, including easy and secure options such as
                        PayPal
                        and Revolut.</p>
                    <div>
                        <hr>
                    </div>
                    <h3 class="our-address"><i class="fa-solid fa-location-dot"></i> OUR ADDRESS</h3>
                    <p class="p-info">I. Karavela, Lefkada 311 00</p>
                    <div>
                        <hr>
                    </div>
                    <div class="row info-hours-div">
                        <div class="col-sm-6">
                            <h3>CONTACT INFO</h3>
                            <p><a class="mailto" href="mailto: sensez.apartments@gmail.com"><i
                                        class="fa-solid fa-envelope contact-info"></i> sensez.apartments@gmail.com</a>
                            </p>
                            <p><i class="fa-solid fa-phone contact-info"></i>+30 6940800000<br><i
                                    class="fa-solid fa-phone contact-info"></i>26450-32054</p>

                        </div>
                        <div class="col-sm-6">
                            <h3>CONTACT HOURS</h3>
                            <p>Monday-Sunday 08:00 AM - 10:00 PM</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 iframe-div d-flex align-items-center"><iframe class="rounded w-100"
                        src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d194.27038965601298!2d20.708512793046417!3d38.8249888576467!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sus!4v1675020715042!5m2!1sen!2sus"
                        width="450" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </div>
    <%- include("partials/footer") %>