<%- include("partials/header") %>


    <!-- Carousel wrapper -->
    <div id="first-big-carousel" class="carousel slide carousel-fade" data-bs-pause="false" data-bs-ride="carousel">
        <!-- Indicators -->
        <!-- <div class="carousel-indicators">
            <button type="button" data-bs-target="#first-big-carousel" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#first-big-carousel" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#first-big-carousel" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div> -->

        <!-- Inner -->
        <div class="carousel-inner">
            <!-- Single item -->
            <div class="carousel-item active">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/Slides/img%20(15).webp" class="d-block"
                    alt="Sunset Over the City" />
                <!-- <div class="carousel-caption d-none d-md-block">
                    <h5>First slide label</h5>
                    <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                </div> -->
            </div>

            <!-- Single item -->
            <div class="carousel-item">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/Slides/img%20(22).webp" class="d-block"
                    alt="Canyon at Nigh" />
                <!-- <div class="carousel-caption d-none d-md-block">
                    <h5>Second slide label</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div> -->
            </div>

            <!-- Single item -->
            <div class="carousel-item">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/Slides/img%20(23).webp" class="d-block"
                    alt="Cliff Above a Stormy Sea" />
                <!-- <div class="carousel-caption d-none d-md-block">
                    <h5>Third slide label</h5>
                    <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                </div> -->
            </div>
        </div>
        <!-- Inner -->

        <!-- Controls -->
        <!-- <button class="carousel-control-prev" type="button" data-bs-target="#first-big-carousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button> -->
        <!-- <button class="carousel-control-next" type="button" data-bs-target="#first-big-carousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button> -->
    </div>
    <!-- Carousel wrapper -->

    <div class="main">

        <div class="row chalarosi-main">
            <div class="col-lg-6 chalarosi-div-img d-flex flex-wrap align-items-center">
                <img class="chalarosi-img" src="pics/luxapt3.jpg" alt="lux">
            </div>
            <div class="col-lg-6 chalarosi">
                <h1>Welcome to Popina Luxury Apartments.</h1>
                <p class="p-chal">Lefkada is a unique destination, with traditional customs and warm people.</p>
                <p>But what will make your experience truly unforgettable is the hospitable family environment.
                    Experience the magic of the area, enjoy its sounds and smells and create beautiful memories.</p>
                <button type="button" class="btn btn-dark">Read more</button>
            </div>
        </div>

        <div class="row various-main">
            <div class="col-lg-6 various-1 d-flex flex-wrap align-items-center">
                <h1>We offer various types of rooms.</h1>
            </div>
            <div class="col-lg-6 various-2">
                <p>Our rooms have been designed with quality standards and high aesthetics. We love our place, Lefkada,
                    and we respect the environment and our visitors. That is why we recycle packaging from glass,
                    plastic, paper, we use natural products, from ecological and hypoallergenic zeolite detergents, we
                    reduce the consumption of unnecessary energy and water. We will be happy to contribute to this
                    effort, discarding in the special bins everything that is recycled, turning off the lights when you
                    leave the room and consuming the necessary amount of water.</p>
            </div>
        </div>

        <div class="container carousel-rooms">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div id="carouselExample1" class="carousel slide">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="pics/luxapt3.jpg" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="pics/luxapt3.jpg" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="pics/luxapt3.jpg" class="d-block w-100" alt="...">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample1"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample1"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                    <h3>Mediterranean Room</h3>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div id="carouselExample2" class="carousel slide">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="pics/luxapt2.jpg" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="pics/luxapt2.jpg" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="pics/luxapt2.jpg" class="d-block w-100" alt="...">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample2"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample2"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                    <h3>Salty Room</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div id="carouselExample3" class="carousel slide">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="pics/luxapt1.jpg" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="pics/luxapt1.jpg" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="pics/luxapt1.jpg" class="d-block w-100" alt="...">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample3"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample3"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                    <h3>Flower Room</h3>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div id="carouselExample4" class="carousel slide">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="pics/luxapt1.jpg" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="pics/luxapt1.jpg" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="pics/luxapt1.jpg" class="d-block w-100" alt="...">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample4"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample4"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                    <h3>Pepper Room</h3>
                </div>
            </div>
        </div>
        <div class="text-center book-button"><button type="button" class="btn btn-dark">BOOK NOW</button></div>
        <div class="social">
            <a href="https://www.facebook.com"><i class="fa-brands fa-facebook font"></i></a>
            <a href="#"><i class="fa-brands fa-instagram font"></i></a>
            <a href="#"><i class="fa-solid fa-envelope font"></i></a>
            <a href="#"><i class="fa-solid fa-phone font"></i></a>
        </div>










    </div>









    </div>

    <%- include("partials/footer") %>