<%- include("partials/header") %>


    <!-- Carousel wrapper -->
    <div id="first-big-carousel" class="carousel slide carousel-fade" data-bs-pause="false" data-bs-ride="carousel">

        <!-- Inner -->
        <div class="carousel-inner">

            <!-- Single item -->
            <div class="carousel-item active">

                <img src="https://mdbcdn.b-cdn.net/img/Photos/Slides/img%20(15).webp" class="d-block"
                    alt="Sunset Over the City" />

            </div>

            <!-- Single item -->
            <div class="carousel-item">

                <img src="https://mdbcdn.b-cdn.net/img/Photos/Slides/img%20(22).webp" class="d-block"
                    alt="Canyon at Nigh" />

            </div>

            <!-- Single item -->
            <div class="carousel-item">

                <img src="https://mdbcdn.b-cdn.net/img/Photos/Slides/img%20(23).webp" class="d-block"
                    alt="Cliff Above a Stormy Sea" />

            </div>
        </div>

    </div>
    <!-- Carousel wrapper -->

    <div class="main">

        <div class="row chal-main">
            <div class="col-lg-6 chal-div-img d-block d-flex flex-wrap align-items-center">
                <img class="chal-img" src="pics/luxapt3.jpg" alt="lux">
            </div>
            <div class="col-lg-6 chal">
                <h1>Welcome to Sensez Apartments.</h1>
                <p class="p-chal">Lefkada is a unique destination, with traditional customs and warm people.</p>
                <p class="p2-chal">But what will make your experience truly unforgettable is the hospitable family
                    environment.
                    Experience the magic of the area, enjoy its sounds and smells and create beautiful memories.</p>
                <a href="/about"><button type="button" class="btn btn-light">Read more</button></a>
            </div>
        </div>

        <div class="row various-main">
            <div class="col-lg-6 various-1 d-flex flex-wrap align-items-center">
                <h1>We offer various types of rooms.</h1>
            </div>
            <div class="col-lg-6 various-2">
                <p>Sensez Apartments offer a luxurious and modern living experience in the heart of Lefkada. These brand
                    new apartments are located in the center of the city, providing easy access to shops, restaurants,
                    supermarkets, and all the conveniences of urban living. The apartments themselves are designed with
                    style and quality in mind, featuring sleek, modern furnishings and decor throughout.</p>
            </div>
        </div>

        <div class="container carousel-rooms">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div id="carouselExample1" class="carousel slide">
                        <div class="carousel-inner rounded">
                            <div class="carousel-item active">
                                <img src="pics/luxapt3.jpg" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="pics/luxapt3.jpg" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="pics/luxapt3.jpg" class="d-block w-100" alt="...">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample1"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample1"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                    <h3>Sensez Minimal</h3>
                </div>
                <div class="col-lg-6 col-md-12 mini-desc-div">
                    <p class="mini-desc">This cozy 28m<sup>2</sup> apartment is a perfect choice for solo travelers or
                        couples who want to experience the comfort of home while exploring a new place. The apartment
                        features a fully equipped kitchen. The apartment also has a small mini yard, where you can enjoy
                        your morning coffee or evening drinks.</p>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div id="carouselExample2" class="carousel slide">
                        <div class="carousel-inner rounded">
                            <div class="carousel-item active">
                                <img src="pics/luxapt2.jpg" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="pics/luxapt2.jpg" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="pics/luxapt2.jpg" class="d-block w-100" alt="...">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample2"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample2"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                    <h3>Sensez Comfort</h3>
                </div>
                <div class="col-lg-6 col-md-12 mini-desc-div">
                    <p class="mini-desc">This charming 30m<sup>2</sup> apartment is a cozy living space that offers
                        everything you need for a comfortable stay. The apartment features a fully equipped kitchen with
                        modern appliances. The apartment also has a small yard, which is equipped with outdoor
                        furniture, allowing you to relax and unwind in the fresh air.</p>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div id="carouselExample3" class="carousel slide">
                        <div class="carousel-inner rounded">
                            <div class="carousel-item active">
                                <img src="pics/luxapt2.jpg" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="pics/luxapt2.jpg" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="pics/luxapt2.jpg" class="d-block w-100" alt="...">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample3"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample3"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                    <h3>Sensez Elegant</h3>
                </div>
                <div class="col-lg-6 col-md-12 mini-desc-div">
                    <p class="mini-desc">This 45m<sup>2</sup> apartment is a comfortable
                        living space that
                        is perfect
                        for couples or small families. The apartment features a fully equipped kitchen, which includes
                        an oven, refrigerator, microwave, coffee maker, and other essential kitchenware.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="text-center book-button">
        <a href="/contact"><button type="button" class="btn btn-dark">BOOK NOW</button></a>
    </div>



    <%- include("partials/footer") %>